
.foodcard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.foodcard > :last-child{
    margin-top: auto;
    margin-bottom: 5px;
}


.foodcard > :first-child{
    border-radius: 10px;
    /* border: 2px solid red; */
    background-color: rgb(54, 40, 40);
}

.cardsgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 3rem;
    column-gap: 10rem;
    row-gap: 2rem;

}


.imgbuy{
    max-width: 100%;
    max-height: 26vh;
}

.foodcard > ul{
    font-weight: 700;
}

.countpart{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0 20%;
    font-size: large;
}


.countpart :first-child{
    outline: none;
    border: none;
    background-color: pink;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
}
.countpart :nth-child(2){
    background-color: rgb(102, 243, 102);
}
.countpart :last-child{
    border: none;
    outline:none;
    background-color: rgb(66, 253, 253);
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.countpart :first-child:active{
    background-color: rgb(245, 79, 79);
}
.countpart :last-child:active{
    background-color: rgb(248, 248, 82);
}


@media all and (max-width:700px) {
    .cardsgrid{
        grid-template-columns: 1fr;
    }
}

.measure2{
    display: inline-block;
    max-width: 30em;
    margin: 1rem;
}

.measure2 > input {
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


#buy-form {
    background-color: sandybrown;
    position: absolute;
    bottom: 0px;
    height: 35vh;
    width: 100%;
    margin: 0;
}

#food-list {
    font-size: 2rem;
    border: 0;
    padding: 0;
    margin: 0;
    height: 60vh;
    position: relative;
    overflow-y: auto;
}

#foodname, #pricetag {
    font-size: 1.3rem;
}
