@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@600&family=Zen+Kurenaido&display=swap');

.cardsgrid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    padding: 3rem;
    column-gap: 10rem;
    row-gap: 2rem;
}

.foodcard2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.foodcard2 > :last-child{
    margin-top: auto;
    margin-bottom: 5px;
}

.foodcard2 > :last-child > :nth-child(2){
    font-size: 1.5rem;
}

.foodcard2 > :first-child{
    border-radius: 10px;
    /* border: 2px solid red; */
    background-color: rgb(54, 40, 40);
}

.imgsell{
    max-width: 100%;
    max-height: 26vh;
}

.foodcard2 > ul{
    font-weight: 700;
}

.nofoodie > img{
    height: 20rem;
}

.nofoodie > div{
    font-size: 1.4rem;
}

.addfoodstuff > :first-child{
    font-size:  1.3rem;
    font-weight: bold;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Zen Kurenaido', sans-serif;
    padding-top: 20px;
}
/* ____ */

.addfoodstuff{
    background-color: rgb(185, 102, 245);
    width: 100%;
}

.sellformpart{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#info-list{
    font-size: 1.9rem;
    font-weight: bold;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Zen Kurenaido', sans-serif;
}

#state-list{
    font-size: 2rem;
    border: 0;
    padding: 0;
    margin: 0;
    height: 60vh;
    position: relative;
    overflow-y: auto;
}


/* #foodname, #pricetag are common with buy.css in that file */
@media all and (max-width:700px) {
    .cardsgrid2{
        grid-template-columns: 1fr;
    }
    #info-list{
        padding: 5px;
        font-size: 1.2rem;
    }
}


label {
    text-align: left;
}
.ba {
    border-style: solid;
    border-width: 1px;
}

.b--black-20 {
    border-color: rgba(0, 0, 0, .2);
}

.db {
    display: block;
}

.normal {
    font-weight: normal;
}

.b {
    font-weight: bold;
}

.input-reset {
    -webkit-appearance: none;
       -moz-appearance: none;
}

.input-reset::-moz-focus-inner {
    border: 0;
    padding: 0;
}

.w-100 {
    width: 100%;
}

.black-80 {
    color: rgba(0, 0, 0, .8);
}

.black-60 {
    color: rgba(0, 0, 0, .6);
}

.pa2 {
    padding: .5rem;
}

.pa4 {
    padding: 2rem;
}

.mb2 {
    margin-bottom: .5rem;
}

.f6 {
    font-size: .875rem;
}

.measure {
    max-width: 30em;
    margin: 2px;
}
