#buy-img{
  width: 27vw;
  max-width: 200px;
  border-radius: 0 15px 15px 0;
}
#sell-img{
  width: 27vw;
  max-width: 200px;
  /* box-shadow:rgba(0, 0, 0, 0.8) -5px -5px 9px 5px, rgba(0, 0, 0, 0.8) 5px 5px 9px 5px, inset 40px 40px 100px rgba(235, 72, 72, 0.774), inset -40px -40px 100px rgba(230, 66, 66, 0.74); */
  border-radius: 15px 0 0 15px;

}

.home{
  /* top: 0px; */
  width: 100vw;
  display: grid;
  row-gap: 14vh;
  grid-template-rows: 0fr 1fr 1fr;
}

.home-buy{
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.home-sell{
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  align-items: right;
}

.home-buy :first-child{
  background-color: rgb(107, 248, 248);

}

.home-sell :last-child{
  background-color: pink;
}

.home-sell img{
  right: 0;
  justify-self: right;
}

.home a{
  text-decoration: none;
}