.foodcard{
   color: blue;

}

.cardsgrid{
    display: grid;
    gap: 3vw;
    grid-template-columns: repeat(auto-fill,minmax(90px,1fr));
    border: 2px solid white;
    text-align: center;
    padding: 1.5rem;

}