@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Play&family=Teko:wght@300&display=swap');

html, body{
    padding:0;
    margin: 0;
}

html{

    height:100%;


}
body {
    min-height: 100%;
    height:100%;

}

.signin-body{
    background-image: url('./auth-bg.jpg')  ;
    background-size:cover;
    display:flex;
    justify-content:center;
    height: 90vh;

}

.appbody{
    background-image: url('./auth-bg.jpg')  ;
    background-size:cover;
    display:flex;
    justify-content:center;

}

.signincard{

    /* background-color: rgb(142, 241, 208); */
    /* margin:  10% 0 0 37%; */
    border: .5vw solid rgba(165, 42, 42, 0.849);
    border-radius: 1rem;
    padding: 3vw;
    margin: 4vw 8vw;
    max-width: 28rem;
    height: 65vh;
    height: fit-content;
    box-shadow:rgba(0, 0, 0, 0.8) -5px -5px 9px 5px, rgba(0, 0, 0, 0.8) 5px 5px 9px 5px, inset 40px 40px 100px rgba(235, 72, 72, 0.774), inset -40px -40px 100px rgba(230, 66, 66, 0.74);
    /* box-shadow:rgba(0, 0, 0, 0.8) -5px -5px 9px 5px, inset rgba(249, 253, 4, 0.425) 0px -10px 30px -5px; */
}

.signincard label{

    font-family: 'Play', sans-serif;
    font-size: 1.4rem;
}

.signincard h1{
    font-family: 'Play', sans-serif;
    font-weight: bold;
}
.signincard h4{
    font-family: 'Play', sans-serif;
    font-weight: 800;
    font-size: 0.8rem;
    color: red;
}

input{
    border-radius: none;
}