.App {
  text-align: center;
  /* position: static; */
}


.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;

}


.app-body{
    position: relative;
	/* background-color: rgba(7, 68, 68, 0.367); */
	top: 65px;
	height: 90vh;
}