.App {
  text-align: center;
  /* position: static; */
  min-height: 100vh;
}


.header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;

}


.app-body{
    position: absolute;
    width: 100%;
	/* background-color: rgba(7, 68, 68, 0.367); */
	/* top: 65px; */
  bottom: 0px;
	height: 90vh;
}